@import './../variables';

.reply-active {
  margin: 24px 0;

  .cancel-btn {
    border: none;
    background: transparent;
    cursor: pointer;

    span {
      font-family: $medium-font;
      color: #b6b6b6;
      font-size: 15px;
      font-weight: 500;
    }
  }
}