@import './../variables';

.leave-comment {

  .caption {
    border: none;
    padding-bottom: 40px;
  }

  .comment-block {
    margin-left: $inner-space;
    margin-right: $inner-space;
    border-bottom: $border-gray;

    @media screen and (max-width: $break-md) {
      margin-left: 40px;
      margin-right: 40px;
    }

    @media screen and (max-width: $break-sm) {
      margin-left: 20px;
      margin-right: 20px;
    }

    @media screen and (max-width: $break-xs) {
      margin-left: 5px;
      margin-right: 5px;
    }

  }
}